<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookify</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Bookify!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    <form id="searchbar">
        <input type="search" id="lookup" name="searchbox" placeholder="Search...">
        <button>Search</button>
    </form>
    {{!doule check plugging in Google API with search bar}}
  </nav>
  <main>
    <aside>
      <h2>Browse your library</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>


</html>