<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookify</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
  <header class="bg-green-500">
    <h1 class="text-zinc-50">Welcome to Bookify!</h1>
  </header>
  <nav class="bg-neutral-900 flex justify-start">
    <a href="/" class="text-zinc-50 font-bold">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="text-zinc-50 font-bold">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    <form id="searchbar" class="items-center">
        <input type="search" id="lookup" name="searchbox" placeholder="Search...">
        <button>Search</button>
    </form>
  </nav>
  <main>
    <aside>
      <h2>Browse your library</h2>
    </aside>
    <div class="library"> {{!will replace class with tailwind class}}
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>


</html>